body {
  margin: 0;
  font-family: -apple-system, 'Inter', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 4em;
  color: #101828;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile_img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.profile_name{
  padding: 1.5em;
  font-weight: 700;
}

.img{
  width: 88px;
  height: 88px;
  border-radius: 275px;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

.icon{
  position: absolute;
  /* left: 12.5%; */
  right: 31%;
  top: 8%;
  width: 1.983em;
  height: 1.875em;
  /* bottom: 14.95%; */
  border-radius: 50%;
  border: 1.66667px solid #98A2B3;
}

.tooltip{
  display: inline-block;
  text-align: center;
  color: white;
  position: absolute;
  left: -3em;
  top: -0.2em;
  /* visibility: hidden; */
  border-radius: 0.5em;
  padding: 0.5em;
  width: 5em;
  background-color: #101828;
  border-bottom: 1px dotted black;
  opacity: 0;
  transition: opacity 1s;
}

.icon:hover .tooltip:hover{
  cursor: pointer;
  /* visibility: visible; */
  visibility: visible;
  opacity: 1;
}

/* {
 
} */

.links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 8px;
  text-align: center;
  font-weight: 500;
}

.link{
  background: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  width: stretch;
  height: hug;
  padding: 24px 32px;
  gap: 8px;
}

@media only screen and (min-width: 300px) and (max-width: 600px){
  body{
    padding: 0.2em
  }
}
  
@media only screen and (min-width: 600px) and (max-width: 820px){
  body{
    padding: 0.2em
  }
}

@media only screen and (min-width: 820px) and (min-width: 992px){
  .icon{
    position: absolute;
    /* left: 12.5%; */
    right: 31%;
    top: 8%;
    width: 1.983em;
    height: 1.875em;
    /* bottom: 14.95%; */
    border-radius: 50%;
    border: 1.66667px solid #98A2B3;
  }
}

@media only screen and (min-width: 992px){
  .icon{
    position: absolute;
    /* left: 12.5%; */
    right: 31%;
    top: 8%;
    width: 1.983em;
    height: 1.875em;
    /* bottom: 14.95%; */
    border-radius: 50%;
    border: 1.66667px solid #98A2B3;
  }
}
